* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  overflow: hidden;
}

.page {
  width: 1000px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: bisque;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid sandybrown;
  padding: 10px 20px;
  line-height: 1.5;
}

.trivia {
  width: 200px;
  height: 500px;
  background-color:wheat;
  float: left;
}

.gallery {
  width: 650px;
  height: 500px;
  background-color: beige;
  float: left;
  padding: 25px;
}

.gallery p {
  margin-bottom: 20px;
}

.gallery img {
  float: left;
  width: 300px;
  height: 350px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.projects {
  height: 200px;
  background-color:blanchedalmond;
  border: 5px solid azure;
  clear: both;
  overflow: hidden;
}

.column { 
  float: left;
  width: 31%;
  height: 160px;
  background-color:burlywood;
  border: 2.5px solid beige;
  margin: 20px 1.15%;
}

.repo-title {
 margin-top: 30px;
 margin-left: 30px;
}

.repo-details {
  margin: 10px;
  overflow: hidden;
}