* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  overflow: hidden;
}

.page {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: bisque;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid sandybrown;
  padding: 10px 20px;
  line-height: 1.5;
}

.trivia {
  width: 200px;
  height: 500px;
  background-color: lightseagreen;
  float: left;
}

.gallery {
  width: 650px;
  height: 500px;
  background-color: beige;
  float: left;
}

.projects {
  height: 200px;
  background-color: aquamarine;
  clear: both;
}