* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

em, strong {
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  font-weight: bolder;
  font-style: oblique;
  text-decoration: underline;
  display: block;
  margin-bottom: 15px;
}

.education,
.work,
.personal {
  font-weight: bold;
  font-style: oblique;
  font-size: 17px;
  display: inline-block;
  margin-bottom: 5px;
}

.container {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  overflow: hidden;
}

.page {
  width: 1000px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: bisque;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid sandybrown;
  padding: 15px 20px;
  line-height: 1.5;
}

.trivia {
  width: 200px;
  height: 500px;
  background-color:wheat;
  float: left;
  border: 1px solid darkkhaki;
}

.trivia-about {
  font-family: cursive;
  font-weight: bold;
  font-size: 24px;
  color:teal;
  text-align: center;
  display: block;
  padding-top: 20px;
}

.trivia ul {
  margin-left: 60px;
  margin-top: 20px;
}

.trivia ol {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.gallery {
  width: 650px;
  height: 500px;
  background-color: beige;
  float: left;
  padding: 25px;
  border: 2px solid darkkhaki;
}

.gallery p {
  margin-bottom: 20px;
}

.gallery img {
  float: left;
  width: 300px;
  height: 350px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 2px solid darkkhaki;
}

.projects {
  height: 200px;
  background-color:blanchedalmond;
  border: 5px solid azure;
  clear: both;
  overflow: hidden;
}

.column { 
  float: left;
  width: 31%;
  height: 160px;
  background-color:burlywood;
  border: 2.5px solid beige;
  margin: 20px 1.15%;
}

.repo-title {
 margin-top: 30px;
 margin-left: 30px;
}

.repo-details {
  margin: 10px;
  overflow: hidden;
}

a { 
color: crimson;
}

a:link {
  text-decoration: none;
}

a:visited {
text-decoration: none;
color: coral;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}